@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}
body {
  background-color: white !important;
}
#siteMenu {
  display: none;
  background-color: white !important;
  z-index: 25;
  height: 100vh;
  width: 10vw;
}
#eventLogo {
  display: block;
  position: absolute;
  top: -1.5vh;
  left: 5vw;
  width: 35vw;
  z-index: 50;
}
#menuIcon {
  display: block;
  position: absolute;
  top: 0.5vh;
  left: 0.5vw;
  background-color: transparent;
  z-index: inherit;
}
.menuElement {
  position: relative;
  margin-left: 1vw;
  margin-top: 2vh;
  background-color: white;
  z-index: inherit;
}

#firstMenuElement {
  margin-top: 7vh;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

body {
  font-family: 'Helvetica', 'Arial', 'sans-serif'
}

h3 {
  user-select: none;
}

@keyframes menu-openlabel {
  from {
      transform: translateX(-10vw);
  }

  to {
      transform: translateX(0);
  }
}

@keyframes menu-openicon {
  from {
      transform: translateX(-10vw);
  }

  to {
      transform: translateX(0);
  }
}
@keyframes menu-closelabel {
  from {
      transform: translateX(0);
      display: block;
  }

  to {
      transform: translateX(-10vw);
      display: none;
  }
}

@keyframes menu-closeicon {
  from {
      transform: translateX(0);
      display: block;
  }

  to {
      transform: translateX(-10vw);
      display: none;
  }
}
@keyframes menuIcon-expand {
  from{
      transform: scale3D(0,0,0)
  }
  to{
      transform: scale3D(1,1,1)
  }
}
@keyframes menuIcon-shrink {
  from{
      transform: scale3D(1, 1, 1)
  }
  to{
      transform: scale3D(0, 0, 0)
  }
}
img {
  user-select: none;
}
#footer {
  position: fixed;
  bottom: 0px;
  background-color: black;
  width: 100vw;
  height: 10vh;
  overflow-y: hidden;
}
.footerPad {
  position: relative;
  margin-bottom: 0px;
  height: 20vh;
}
.linkUnderlineWhite {
  text-decoration: underline !important;
  text-decoration-color: white !important;
  text-decoration-style: solid !important;
  text-decoration-thickness: 2px !important;
}
#tedLicenseStatement {
  position: relative;
  margin-top: 1vh;
}
#tedXProgramLink {
  position: relative;
  margin-top: 1vh;
}
#tedLicenseStatementMobile {
  position: relative;
  margin-top: 1vh;
}
#tedXProgramLinkMobile {
  position: relative;
  margin-top: 1vh;
}
#footerMobile {
  position: fixed;
  bottom: 0px;
  background-color: black;
  width: 100vw;
  height: 20vh;
  overflow-y: hidden;
}
.footerPadMobile {
  position: relative;
  margin-bottom: 0px;
  height: 35vh;
}
.hide {
  display: none;
}
.menuElementMobile {
  position: relative;
  margin-left: 1vw;
  margin-top: 2vh;
  background-color: white;
  z-index: inherit;
}
#firstMenuElementMobile {
  margin-top: 7vh;
}
#siteMenuMobile {
  display: none;
  background-color: white !important;
  z-index: 25;
  height: 100vh;
  width: 50vw;
}