#siteMenu {
    display: none;
    background-color: white;
}

#menuIcon {
    display: block;
    position: absolute;
    top: 0.5vh;
    left: 0.5vw;
}

#aboutIcon {
    position: absolute;
    top: 13.5vh;
    left: 1vw;
}

#mediaIcon {
    position: absolute;
    top: 22.5vh;
    left: 1vw;
}

#blogIcon {
    position: absolute;
    top: 31.5vh;
    left: 1vw;
}

#sponsorsIcon {
    position: absolute;
    top: 40.5vh;
    left: 1vw;
}

#speakersIcon {
    position: absolute;
    top: 49.5vh;
    left: 1vw;
}

#scheduleIcon {
    position: absolute;
    top: 58vh;
    left: 1vw;
}

#aboutLabel {
    position: absolute;
    top: 11vh;
    left: 4vw;
}

#mediaLabel {
    position: absolute;
    top: 20vh;
    left: 4vw;
}

#blogLabel {
    position: absolute;
    top: 29vh;
    left: 4vw;
}

#sponsorsLabel {
    position: absolute;
    top: 38vh;
    left: 4vw;
}

#speakersLabel {
    position: absolute;
    top: 47vh;
    left: 4vw;
}

#scheduleLabel {
    position: absolute;
    top: 56%;
    left: 4vw;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Helvetica', 'Arial', 'sans-serif'
}

h3 {
    user-select: none;
}

@keyframes menu-open0label {
    from {
        transform: translateX(-10vw);
        top: 11vh;

    }

    to {
        transform: translateX(0);
        top: 11vh;
    }
}

@keyframes menu-open1label {
    from {
        transform: translateX(-10vw);
        top: 20vh;

    }

    to {
        transform: translateX(0);
        top: 20vh;
    }
}

@keyframes menu-open2label {
    from {
        transform: translateX(-10vw);
        top: 29vh;

    }

    to {
        transform: translateX(0);
        top: 29vh;
    }
}

@keyframes menu-open3label {
    from {
        transform: translateX(-10vw);
        top: 38vh;

    }

    to {
        transform: translateX(0);
        top: 38vh;
    }
}

@keyframes menu-open4label {
    from {
        transform: translateX(-10vw);
        top: 47vh;

    }

    to {
        transform: translateX(0);
        top: 47vh;
    }
}

@keyframes menu-open5label {
    from {
        transform: translateX(-10vw);
        top: 56vh;

    }

    to {
        transform: translateX(0);
        top: 56vh;
    }
}

@keyframes menu-open0icon {
    from {
        transform: translateX(-10vw);
        top: 13.5vh;

    }

    to {
        transform: translateX(0);
        top: 13.5vh;
    }
}

@keyframes menu-open1icon {
    from {
        transform: translateX(-10vw);
        top: 22.5vh;

    }

    to {
        transform: translateX(0);
        top: 22.5vh;
    }
}

@keyframes menu-open2icon {
    from {
        transform: translateX(-10vw);
        top: 31.5vh;

    }

    to {
        transform: translateX(0);
        top: 31.5vh;
    }
}

@keyframes menu-open3icon {
    from {
        transform: translateX(-10vw);
        top: 40.5vh;

    }

    to {
        transform: translateX(0);
        top: 40.5vh;
    }
}

@keyframes menu-open4icon {
    from {
        top: 49.5vh;
        transform: translateX(-10vw);
    }

    to {
        transform: translateX(0);
        top: 49.5vh;
    }
}

@keyframes menu-open5icon {
    from {
        transform: translateX(-10vw);
        top: 58vh;

    }

    to {
        transform: translateX(0);
        top: 58vh;
    }
}
@keyframes menu-close0label {
    from {
        transform: translateX(0);
        top: 11vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 11vh;
        display: none;
    }
}

@keyframes menu-close1label {
    from {
        transform: translateX(0);
        top: 20vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 20vh;
        display: none;
    }
}

@keyframes menu-close2label {
    from {
        transform: translateX(0);
        top: 29vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 29vh;
        display: none;
    }
}

@keyframes menu-close3label {
    from {
        transform: translateX(0);
        top: 38vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 38vh;
        display: none;
    }
}

@keyframes menu-close4label {
    from {
        transform: translateX(0);
        top: 47vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 47vh;
        display: none;
    }
}

@keyframes menu-close5label {
    from {
        transform: translateX(0);
        top: 56vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 56vh;
        display: none;
    }
}

@keyframes menu-close0icon {
    from {
        transform: translateX(0);
        top: 13.5vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 13.5vh;
        display: none;
    }
}

@keyframes menu-close1icon {
    from {
        transform: translateX(0);
        top: 22.5vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 22.5vh;
        display: none;
    }
}

@keyframes menu-close2icon {
    from {
        transform: translateX(0);
        top: 31.5vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 31.5vh;
        display: none;
    }
}

@keyframes menu-close3icon {
    from {
        transform: translateX(0);
        top: 40.5vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 40.5vh;
        display: none;
    }
}

@keyframes menu-close4icon {
    from {
        top: 49.5vh;
        transform: translateX(0);
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 49.5vh;
        display: none;
    }
}

@keyframes menu-close5icon {
    from {
        transform: translateX(0);
        top: 58vh;
        display: block;
    }

    to {
        transform: translateX(-10vw);
        top: 58vh;
        display: none;
    }
}