#speakerImg1 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
#speakerImg2 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
#speakerImg3 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
#speakerImg4 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
#speakerImg5 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
#speakerImg6 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
.card-body {
    font-size: 150%;
    margin-top: -5%;
}
.speakerCard {
    overflow-y: hidden;
    width: 25vw;
    z-index: -5;
    position: relative;
    margin-left: 4vw;
    margin-top: 10vh;
}
.speakerSocialFooter {
    position: relative;
    margin-top: -4vh;
    margin-bottom: 2vh;
}
.speakerSocialLink {
    position: relative;
    margin-left: 2.5vw;
}