#companyImg1 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
#companyImg2 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
#companyImg3 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
#companyImg4 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
#companyImg5 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
#companyImg6 {
    background-image: url("https://www.picsum.photos/1920/1080") !important;
}
.card-body {
    font-size: 150%;
    margin-top: -5%;
}
.companyCard {
    overflow-y: hidden;
    width: 25vw;
    z-index: -5;
    position: relative;
    margin-left: 3vw;
    margin-top: 10vh;
}
.companySocialFooter {
    position: relative;
    margin-top: -4vh;
    margin-bottom: 2vh;
}
.companySocialLink {
    position: relative;
    margin-left: 2.5vw;
}
